body{
    background-color: var(--dark-blue);
}
.home-header{
    text-align: center;
    padding: 5rem;
    color: #fff;

}

#home span{
    color: var(--red);
    font-weight: 600;
}
#home h1{
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0;
    color: var(--Light-pink);
}
#home p{
    margin-bottom: 30px;
    color: var(--Light-pink);
    line-height: 1.6;
}
#home .btn{
padding: 10px 30px;
border-radius: 5px;
font-size: 12px;
font-weight: 500;
border: 1px solid var(--red);
margin: 0 5px;
}

#home .btn-red{
    color: #fff;
    background-color: var(--red);
}
#home .btn-transparent{
    background: transparent;
    color: var(--red);
}

#home .card-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns:repeat(3 , 1fr) ;
    gap: 20px;

}

#home .card-container .card{
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;


}
#home .card-container .card .icon{
    display: inline-block;
    padding: 12px;
    border-radius: 10px;
}
#home .card-container .card .icon svg{
    font-size: 25px;
}
#home .card-container .card h2{
     font-size: 18px;
     color: var(--dark-blue);
     margin-top: 15px;
}
#home .card-container .card .line{
    width: 50px;
    height: 2px;
    background-color: var(--red);
    display: block;
    margin: 15px 0;
}
#home .card-container .card p{
    font-size: 14px;
    color: black;
}




.container{
    width: 100%;
}



@media (max-width: 1024px) {
  #home .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .home{
  }
  .home-header {
    text-align: center;
    padding: 2rem 0rem;
  }

  #home h1 {
    font-size: 28px;
  }

  #home p {
    font-size: 14px;
  }

  #home .card-container {
    grid-template-columns: 1fr;
  }

  #home .btn {
    display: block;
    
    margin: 10px 0;
  }
}
