.footer-contens{
    background-color: #fff;

}
.footer-contens section{
padding: 12px;
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 3rem;
}
.section{
margin: 0 20px;
text-align: center;
}
.section h2{
    color: black !important;
    margin-bottom: 20px;
    font-size: 16px !important;
    font-weight: 900 !important;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.links a,p,li{
    margin: 5px 0;
    color: var(--Light-gray) !important;
}
.icons{
    margin-top: 20px;

}
.icons svg{
    color: var(--sky-blue);
    margin-right: 10px;
    font-size: 20px;
}
.cobyright{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: var(--Light-gray);
    font-weight: 500;
}










@media (max-width: 1024px) {
  .footer-contens section {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .footer-contens section {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 1rem;
  }

  .section {
    margin: 0 auto;
  }

  .links {
    align-items: center;
  }

  .icons {
    justify-content: center;
  }

  .cobyright {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    flex-direction: column;
  }
}
